{{pikaday-input value=valueForDate format='YYYY-MM-DD'}}
<input value={{valueForInput}} 
oninput={{action 'updateValueFromInput' value='target.value'}}
autofocus />
{{currencySymbol}}

<button {{action (action save balanceChangeDate)}}>
  Save
</button>